<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haemin.imagemathtutor">

    <application
        android:name=".TutorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NoticeMVP.NoticeActivity"></activity>
        <activity android:name=".View.Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".View.RegisterProcess.RegisterSuccessActivity" />
        <activity android:name=".View.RegisterProcess.RegisterActivity" />
        <activity android:name=".View.RegisterProcess.RegisterTermsActivity" />
        <activity android:name=".View.Activity.LoginActivity" />
        <activity
            android:name=".View.Activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>